[Unit]
Description=Helclock
Documentation=None
After=network.target auditd.service

[Service]
ExecStart=/usr/bin/python /home/hclock/helclock/Software/clock3/muster.py
KillMode=process
Restart=on-failure
RestartPreventExitStatus=255
Type=simple
RuntimeDirectory=/home/hclock/helclock/Software/clock3
RuntimeDirectoryMode=0755

[Install]
WantedBy=multi-user.target
