[Unit]
Description=Helclock
Documentation=None
After=network.target auditd.service

[Service]
ExecStart=/usr/bin/python -m c3.server
KillMode=process
Restart=on-failure
RestartPreventExitStatus=255
Type=simple
RuntimeDirectory=/home/hclock/helclock/Software/clock3
RuntimeDirectoryMode=0755
User=hclock

[Install]
WantedBy=multi-user.target
